.PageHeading    
{    
  margin-top: 10px;    
  margin-bottom: 10px;    
  color :black !important;    
}

body{

  background-color: #f2f8f9;
  font-family:"Roboto", sans-serif;

}
/* .list
{
  text-align: center;
  top:30%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
} */

/* .list
{
  display: flex;
} */
.search
{
  display: flex;
  justify-content: center;
  /* column-gap: 20px; */
  align-items: center;
  margin-bottom: 3%;
}

td {
  width:80px;
  text-align:center;
  border-right: 1px solid #c9c8c5;
}
tr th{
  border-right: 1px solid #c9c8c5;
}
tr td{
  border-right: 1px solid #c9c8c5;

}
/* .table{
  width: ;
} */
/* th {

  padding-top: 12px;

  padding-bottom: 12px;

  border-right: 1px solid #c9c8c5;

  text-align: center;

  background-color: #04AA7D;

  color: white;

}
td{

  border-right: 1px solid #c9c8c5;

} */

  
  #center{
    margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 10%;


  }

  /* input:invalid{
    border: 2px dashed red;
  }
  
  /* input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  } */
  
  /* input:valid {
    border: 2px solid black;
  }  */

  .add{
    /* text-align:"end";  */
    float:right; 
    padding-right: 65px;
    height: 10px;
    /* margin-bottom:25px; */

  }

  .notFound{

    text-align:center;

    font-weight: bold;

    font-style: italic;

    margin-top:15%;

}
input[type="search"]{

  max-width: 30%;

  margin-right: 20px;

}
.divLoader{
  text-align: center;
  left: 50%;
  margin-top: 10%;
}