.PageHeading    
{    
  margin-top: 10px;    
  margin-bottom: 10px;    
  color :black !important;    
}

/* .list
{
  text-align: center;
  top:30%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
} */

/* .list
{
  display: flex;
} */
.search
{
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
}